*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    height: min-content;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    font-size: 1.8vh;
    color: #2f3640;
    line-height: 1.5em;
}

a {
    outline: none;
    text-decoration: none;
}

h3 {
    margin: 0 0 2em 0.75em;
}

p {
    margin: 0 0 0.75em 1em;
}

ul {
    padding-left: 4em;
}

span {
    padding-left: 1vh;
    padding-right: 1vh;
    width: max-content;
}

body {
    display: grid;
}

.section {
    display: grid;
    padding: 3em;
}

header {
    display: grid;
    grid-template-areas:
        'logo navbar';
    align-items: center;
}

.logo,
.nav__links {
    display: grid;
    margin: 3vh;
}

.logo {
    grid-area: logo;
    font-size: 6vh;
    grid-template-columns: min-content min-content;
}

.logo>span {
    width: min-content;
    padding-left: 0vh;
    padding-right: 0vh;
}

.first__letter {
    position: relative;
    transform-style: preserve-3d;
    animation: cubeRotate 10s linear infinite;
}

@keyframes cubeRotate {
    0%, 40%   {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    60%, 100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

.nav__links {
    grid-area: navbar;
    grid-template-columns: repeat(4, max-content);
    justify-content: right;
}

main {
    display: grid;
    grid-template-areas:
        'hero'
        'about'
        'projects'
        'contacts';
    background-image: url(../images/white.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.hero {
    padding: 6em !important;
    display: grid;
    grid-template-areas:
        'firstname'
        'secondname'
        'profession';
    gap: 5em;
    overflow: hidden;
}

.about {
    margin: 1rem;
    display: grid;
    border: 1vh #2f3640 solid;
    background-color: white;
    opacity: 0;
}

.projects {
    display: grid;
    gap: 3em;
    opacity: 0;
}

.contacts {
    border: 1px grey solid;
    opacity: 0;
}

.firstname,
.secondname,
.profession {
    display: grid;
    width: max-content;
    transform: translate(100vw);
    opacity: 0;
}

.show__hero {
    transform: translate(0vw);
    opacity: 1;
    transition: transform 1s ease-in-out, opacity 1.6s ease-in-out;
}

.firstname,
.secondname {
    font-size: 6em;
    font-weight: 300;
}

.secondname {
    text-indent: 11.3vh;
}

.profession {
    font-size: 4em;
    text-indent: 18vh;
}

.section__name {
    padding-bottom: 1em;
    font-size: 4.8vh;
}

.project {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    border: 1vh #2f3640 solid;
    padding: 1vh;
    align-items: center;
    background-color: white;
}

.preview {
    display: grid;
    width: min-content;
}

img {
    display: grid;
}

.description {
    display: grid;
    padding: 1vh;
}

.skills-panel {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    justify-self: center;
    margin-top: 2rem;
}

.arrow {
    background-color: white;
}

.arrow:hover {
    fill: aqua;
}

.carousel {
    display: grid;
    position: relative;
    width: 59vh;
    padding: 1vh 4vh;
    border-radius: 1vh;
    justify-self: center;
    overflow: hidden;
}

.gallery {
    display: grid;
    position: relative;
    width: 500vw;
    right: 17.5vh;
}

.gallery ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15vh);
    align-content: center;
    list-style: none;
    width: inherit;
    border: 1px #2f3640 solid;
}

.gallery li {
    display: grid;
    padding: 2vh;
    align-content: center;
    width: 12vh;
    grid-template-rows: min-content min-content;
    justify-content: center;
    justify-items: center;
    gap: 1vh;
}

.contacts__panel {
    padding: 3rem;
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: center;
    gap: 3rem;
}

.hero,
.projects {}

.visible__main {
    background-image: url(../images/WaveLineBackgroundFree.jpg);
    transition: background-image 0.8s ease-in-out;
}

.visible__section {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

footer {
    opacity: 0;
}