*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    height: min-content;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    font-size: 1.8vh;
    color: #2f3640;
    line-height: 1.5em;
}

a {
    outline: none;
    text-decoration: none;
}

h3 {
    margin: 0 0 2em 0.75em;
}

p {
    margin: 0 0 0.75em 1em;
}

ul {
    padding-left: 4em;
}

span {
    padding-left: 1vh;
    padding-right: 1vh;
    width: max-content;
}

body {
    display: grid;
}

.section {
    display: grid;
    padding: 3em;
}

header {
    display: grid;
    grid-template-areas:
        'logo navbar';
    align-items: center;
}

.logo,
.nav__links {
    display: grid;
    margin: 3vh;
}

.logo {
    grid-area: logo;
    font-size: 6vh;
}

.nav__links {
    grid-area: navbar;
    grid-template-columns: repeat(4, max-content);
    justify-content: right;
}

.main {
    display: grid;
    grid-template-areas:
        'hero'
        'about'
        'projects'
        'contacts';
}

.hero {
    padding: 6em !important;
    display: grid;
    grid-template-areas:
        'firstname'
        'secondname'
        'profession';
    gap: 5em;
}

.projects {
    display: grid;
    gap: 3em;
   
}

.contacts {
    
}

.firstname,
.secondname {
    font-size: 6em;
    font-weight: 300;
}

.secondname {
    text-indent: 11.3vh;
}

.profession {
    font-size: 4em;
    text-indent: 18vh;
}

.section__name {
    padding-bottom: 1em;
    font-size: 4.8vh;
}

.project {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    align-items:start;
}

.preview {
    display: grid;
    width: min-content;
    border: 1px grey solid;
}

img{
    display: grid;
}

.description {
    display: grid;
}